body {
    background-color: #E7F0FF;
    color: #9E4770;
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 28px;
}

li{
    font-size: 24px;
    list-style-type: none;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    color: pink;
}